<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Background Color</title>
    <style>
        body {
            background-color: {{ bg_color }};
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            color: {{ font_color }};
            font-size: 2em;
        }
    </style>
</head>
<body>
    <div>
        Background color is set to: {{ bg_color }} and font color is set to: {{ font_color }}
    </div>
</body>
</html>